<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Application</title>
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <!-- <h1>TODO APP</h1> -->
        <div class="container">
            <div id="newtask">
                <input type="text" placeholder="Add Tasks">
                <button id="addBtn">Add</button>
            </div>
            <div id="tasks">
                <h2>Todo List</h2>
                <ul>
                    <% todos.forEach(todo => { %>
                        <li><%= todo.title %></li>
                    <% }); %>
                </ul>
            </div>
        
        </div>

        <script src="../js/main.js"></script>
    </body>
</html>